html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex; /* Enable Flexbox on the root elements */
  justify-content: center; /* Center horizontally */
  overflow-x: hidden;
  background: linear-gradient(90deg, #cfdbff, #cfdbff, #afbfff); /* Gradient background */
}

* {
  box-sizing: border-box;
}

/* Navbar CSS */

.navbar .nav-link:hover {
    text-decoration: underline;
  }

.navbar .nav-link {
    font-size: 0.67rem; 
  }

.navbar .btn {
  font-size: 0.67rem; 
}

/* Home Page CSS */

.home_opener {
  margin: 0;
  margin-top: 3%;
  background: linear-gradient(90deg, #afbfff, #cfdbff, #cfdbff); /* Gradient background */
  display: flex;
  padding: 20px;
  width: 100vw; /* Full width */
  align-items: center;
  box-sizing: border-box;
}

.home_text {
  flex: 1;
  max-width: 50%;
  margin-right: 10px;
  margin-left: 5%;
} 

.home_text h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: 900;
  text-align: left;
}

.home_text h2 {
  font-size: 1rem;
  color: #333;
  font-weight: 400; 
  text-align: left;
}

.home_text .btn {
  margin-top: 5px;
  font-size: 1rem;
}

.home_image {
  flex: 1; 
  max-width: 50%;
  display: flex;
  justify-content: center;
}

.home_image img {
  max-width: 70%; 
  height: auto;
  border-radius: 40px;
}

.map_feature {
  min-height: calc(100vh - 100px); /* Adjust height to leave space for the footer */
  width: 100vw; /* Full viewport width */
  display: flex;
  flex-direction: column; /* Stack content vertically */
  box-sizing: border-box; /* Include padding in dimensions */
}

.map_context h1 {
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
}

.map_context .heading_context {
  font-size: 1rem;
  color: #333;
  font-weight: 400; 
  text-align: center;
  padding-bottom: 20px;
}

.accordion {
  width: 80%;
  margin: 0 auto;
}

.accordion-header {
  cursor: pointer;
  font-weight: lighter;
}

.accordion-body {
  font-size: 0.9rem;
  color: #333;
  font-weight: 400; 
}