body {
    font-family: 'Lora', serif;
    font-weight: 100;
    background-color: #eeeeee;
}

nav {
    background: linear-gradient(90deg, #546ccc, #6c8cdc, #849ce4); /* Gradient from left to right */
    color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Ensures the navbar spans the full width */
    position: fixed; /* Makes the navbar stick to the top */
    top: 0; /* Aligns it to the top of the screen */
    left: 0; /* Ensures it starts from the left edge */
    z-index: 1000; /* Keeps it above other elements */
}

.menu {
    margin-right: 8%; /* Adds space between the menu and the right edge */
}

.menu img {
    height: 30px; 
    width: auto; 
    cursor: pointer;
}